<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>.expression - A multi author blog - Udacity Full Stack Web Developer Project</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body>

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/">
                    <img src="/assets/img/logo.png" alt=".expression - Spread you ideas to the world">
                </a>
            </div>

            <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">

                <li><a href="/post/new" title="Submit a post!" class="btn-submit btn-header">Submit a post!</a></li>

                {% if current_user %}
                <li>
                     <a href="/welcome">
                        <i class="fa fa-user"></i> Account
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </li>
                {% endif %}
                {% if not current_user %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>

<section>

    {% block content %}
    {% endblock %}

</section>

<footer>

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6">
                Project made for Udacity course Full Stack Web Developer

                <p>
                    Student: <a href="http://diegopettengill.com" target="_blank">Diego Pettengill Fernandes</a>
                </p>

                <p>
                    made with <i class="fa fa-heart-o"></i> and a lot of <i class="fa fa-coffee"></i>
                </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 project-links text-right">
                <a href="https://github.com/diegopettengill/multiuserblog" target="_blank" title="View project on GitHub">
                    <i class="fa fa-github"></i>
                </a>

            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</footer>

<!-- Latest compiled and minified JavaScript -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.1.0/jquery.form.min.js"
        integrity="sha384-pg7GKHZrgICSnX14mRuztzbN1Bm75xUKyCyzDCUbkOp0nHzgGYqiLsc6XpflqxAc"
        crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/d2ae733aa4.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script src="/assets/js/scripts.js"></script>
</body>
</html>