{% extends "default.html" %}

{% block content %}
    <div class="container">

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <div class="form-group">

                    <label for="">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Title">

                </div>

                <div class="form-group">

                    <label for="">Text</label>
                    <textarea class="form-control summernote" rows="10" name="content" placeholder="Title"></textarea>

                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline">Submit</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}