{% extends "default.html" %}

{% block content %}
<div class="container">

    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

        <article class="post-view">

            <h1>{{ post.title }}</h1>

            <p>
                {{ post.content|safe }}
            </p>

            <div class="post-like pull-left">

                <a href="javascript:void(0);" data-post-id="{{ post.key().id() }}"
                   class="like-post {{ 'post-liked' if post.liked else '' }}">
                    <i class="fa fa-heart-o" aria-hidden="true"></i> <span>{{ post.post_like.count() }}</span>
                </a>
            </div>

            <div class="post-like pull-right">
                <a href="post/{{ post.key().id() }}#comments">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <span>{{ post.post_comment.count() }} comments</span>
                </a>
            </div>

            <div class="clearfix"></div>
            {% if current_user %}
            {% if post.author.key().id()|int == current_user.key().id() %}
            <div class="post-author-actions">
                <a href="/post/{{ post.key().id() }}/edit" class="action-edit btn btn-outline">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
                <a href="post/{{ post.key().id() }}/delete" class="action-delete btn btn-outline">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </div>
            {% endif %}
            {% endif %}

        </article>

    </div>

</div>

<article class="author-wrapper">

    <div class="container text-center">

        <h4>Author</h4>

        <h2>{{ post.author.name if post.author.name else post.author.username }}</h2>

        <p>
            {{ post.author.bio if post.author.bio else '' }}
        </p>


    </div>

</article>

<div class="container">

    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">

        <div id="comments" class="comments-wrapper">

            <h4>Responses</h4>

            <div class="comments-form">

                <form action="/comments" class="comment-form" method="post">

                    <div class="row">

                        <input type="hidden" name="pid" value="{{ post.key().id() }}">

                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <textarea name="text" id="" cols="30" tabindex="-1" class="form-control"
                                      rows="3"></textarea>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <button class="btn btn-outline">SUBMIT</button>
                        </div>

                    </div>

                </form>

            </div>

            <div class="comments-list">

                {% for comment in comments %}
                <div class="comment-item">

                    <div class="comment-author">
                        {{ comment.author.username }}
                    </div>

                    <div class="comment-datetime">
                        {{ comment.created.strftime("%d. %B %Y") }}
                    </div>

                    <p id="comment-text-{{comment.key().id()}}">
                        {{ comment.text }}
                    </p>


                    {% if current_user and comment.author.key().id() == current_user.key().id() %}
                    <div class="comment-actions">
                        <a href="javascript:void(0)" data-comment-id="{{comment.key().id()}}"
                           class="btn btn-outline edit-comment">Edit</a>
                        <a href="javascript:void(0)" data-comment-id="{{comment.key().id()}}"
                           class="btn btn-outline delete-comment">Delete</a>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}


            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="modal-edit-comment">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="/comments" class="comment-form" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit comment</h4>
                </div>
                <div class="modal-body">


                    <input type="hidden" id="modal-comment-id" name="comment_id">

                    <input type="hidden" name="pid" value="{{ post.key().id() }}">

                    <textarea name="text" id="modal-comment-text" cols="30" tabindex="-1" class="form-control"
                              rows="3"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline">Cancel</button>
                    <button class="btn btn-outline btn-submit">Save changes</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}



