{% extends "default.html" %}

{% block content %}
    <div class="container">

        <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                <h1 class="text-center">Sign Up</h1>

                <div class="form-group">
                    <label for="">username</label>
                    <input type="text" class="form-control" name="username" value="{{ username }}" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="">password</label>
                    <input type="password" class="form-control" name="password" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">verify</label>
                    <input type="password" class="form-control" name="password_verify" placeholder="">
                </div>

                <div class="form-group">
                    <label for="">email</label>
                    <input type="text" class="form-control" name="email" value="{{ email }}" placeholder="email">
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-outline">Submit</button>
                </div>

             <div class="form-group text-center">
                <a href="/login" class="primary-color">Have an account? Sign In!</a>
            </div>

            </form>
        </div>
    </div>
{% endblock %}



